@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.layoutdiv {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  z-index: 10;
  
  height: 20px;
  padding: 10px;
  
  background: #00ff9d;
  color: black;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 'bold';
  
  cursor: default;
  user-select: none;
}

header span {
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: black;

  margin-right: 25px;
}

header span {
  width: fit-content;
}

main {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main p{
	text-align: center;
}

.infotext {
  font-size: 32px;
  text-decoration: none;
  color: green;
  text-align: center;
  font-weight: bold;
}

footer {
  height: 20px;
  padding: 10px;

  background: #00ff9d;
  color: black;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}